.container{
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background: #ccc;
  padding: 30px;
}

.button-container{
  min-height: 60px;
  display: flex;
  align-items: flex-end;
}

.input{
  margin-bottom: 30px;
}

